@page "/contratos"
@rendermode InteractiveServer

<PageTitle>Contratos</PageTitle>

<section class="d-flex flex-row justify-content-between">
  <h1>Contratos</h1>
  <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>


</section>

@code {
  private int currentCount = 0;

  private void IncrementCount()
  {
    currentCount++;
  }
}
