@import "tailwindcss";

:root {
  --main-item-sidebar: #19d079;
  --main-font-dark: #0c0e1d;
  --main-font-light: #f6f8fc;
}

/*  {
  color: #f5f5f5;
  color: #e48e36;
  color: #ffffff;
  color: #004f6d;
  color: #4b0082;
  color: #2a6f97;
  color: #3a3a3a;
  color: #19d079;
  color: #0c0e1d;
  color: #f6f8fc;
} */
